<div class="container mx-auto py-8">
  <!-- Your existing content here -->
  <h1 class="text-3xl font-bold mb-4">Presnts</h1>
  <p class="text-gray-600 mb-6">Implements multiple gems</p>

  <!-- Additional content -->
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="bg-white rounded shadow p-6">
      <h2 class="text-lg font-bold mb-2">Gems</h2>
      <ul>
        <li class="text-gray-800">Devise Gem</li>
        <li class="text-gray-800">Letter Opener gem</li>
        <%# <li class="text-gray-800">Cancancan Gem</li> %>
        <li class="text-gray-800">Faker Gem</li>
        <li class="text-gray-800">kaminari Gem</li>
        <li class="text-gray-800">Rubocop Gem</li>
        <li class="text-gray-800">Tailwindcss-rails Gem</li>
        <li class="text-gray-800">Rswag Gem</li>
        <li class="text-gray-800">Rspec Gem</li>
      </ul>
    </div>
    <div class="bg-white rounded shadow p-6">
      <h2 class="text-lg font-bold mb-2">Purpose</h2>
      <ul>
        <li class="text-gray-800">For Authentication</li>
        <li class="text-gray-800">For Sending Mails</li>
        <%# <li class="text-gray-800">For Authorization</li> %>
        <li class="text-gray-800">For adding Fake data</li>
        <li class="text-gray-800">For Pagination</li>
        <li class="text-gray-800">For Syntax Alignment</li>
        <li class="text-gray-800">For Styling</li>
        <li class="text-gray-800">For Documentation</li>
        <li class="text-gray-800">For Test Case</li>
      </ul>
    </div>
  </div>
</div>
